In [1]:
import pandas as pd
import numpy as np
import pickle
import os
import asyncio
import datetime
from datetime import datetime
from datetime import timedelta, timezone
from typing import Optional
from dotenv import load_dotenv
from operator import itemgetter

load_dotenv()
PWD = os.getenv("PWD")
db_name = PWD + "\\database" + "\\RVNUSDT.db"
import sys

sys.path.insert(1, PWD + "\\modules")
from alg_modules.alg_handler import AlgHandler
from plot_modules.candle_plot import CandlePlot
from collections import deque
from paper_trade import PaperTrader
import time
import logging

DEBUG = __debug__
LOG_FILE_NAME = "log_file_name.log"
format = "%(asctime)s [%(levelname)s]: %(message)s"
logger = logging.basicConfig(
    filename=LOG_FILE_NAME if not DEBUG else None,
    format=format,
    encoding="utf-8",
    level=logging.INFO,
)
if not DEBUG:
    logging.getLogger(logger).addHandler(logging.StreamHandler())

from stop_loss import StopLoss
from trade_strategy import TradeStrategy
from wss_thread import WssThread
from api_modules.open_binance_api import OpenBinanceApi
import pytz
tzdata = pytz.timezone('Europe/Moscow')

In [2]:
def compute_timedelta(dt: datetime):
    if dt.tzinfo is None:
        dt = dt.astimezone()
    now = datetime.now(timezone.utc)
    return max((dt - now).total_seconds(), 0)
async def sleep_until(when: datetime, result = None):
    """|coro|
    Sleep until a specified time.
    If the time supplied is in the past this function will yield instantly.
    .. versionadded:: 1.3
    Parameters
    -----------
    when: :class:`datetime.datetime`
        The timestamp in which to sleep until. If the datetime is naive then
        it is assumed to be local time.
    result: Any
        If provided is returned to the caller when the coroutine completes.
    """
    delta = compute_timedelta(when)
    return await asyncio.sleep(delta, result)
# def get_data():
#     df = OpenBinanceApi.get_df(
#         pair = 'RVNUSDT',
#         interval = '1m',
#         limit = 1,
#     )
#     return df

In [3]:
server_time = datetime.fromtimestamp(OpenBinanceApi.server_time()/1000)
local_time = datetime.now()
delay = server_time - local_time
logging.info(f'server_time: {server_time}')
# logging.info(f'local_time: {local_time}')
delay.total_seconds()

2022-02-26 12:10:30,765 [INFO]: server_time: 2022-02-26 12:10:48.010000

17.244564

In [4]:

# try:
#     while True:

#         #region
#         # for _, row in df.iterrows():
#         # if 1: # wait for new data comes in
#         #     window.append(dict(row))
#         #     df_ = pd.DataFrame(window)
#         #     alg.update_data(df_)
#         #     alg.calculate(val_col='open_', time_col='open_time',)
#         #     do_trade, cross_type = alg.evaluate()
#         #     if STOP_LOSS_ENABLED:
#         #         stop_loss_trade_flag, trade_data = stop_loss.stop_loss_alg(
#         #                                                 trade_data=trade_data,
#         #                                                 p_trdr=p_trdr,
#         #                                                 row=row,
#         #                                             )

#         #     if do_trade:
#         #         trade_data, stop_loss_trade_flag = TradeStrategy.trade_alg(stop_loss_trade_flag, trade_data, p_trdr, row, cross_type)
#         # if w.get_data() is not None:
#         #     print(itemgetter('a', 'b', 'c')(w.get_data()))

#         # time.sleep(1)
#         #endregion
# finally:
#     # close thread
#     w.close()

In [5]:
# notifications
from win10toast import ToastNotifier
toast = ToastNotifier()
static_notification_settings = dict(
    title="Algo traid BOT",
    duration = 20,
    icon_path = "python.ico",
    threaded = 1,
)

notify = lambda msg: toast.show_toast(
    msg=msg,
    **static_notification_settings,
    )

msg="Watch out for notifications from here"
async def notification(msg):
    if notify(msg):
        pass
    else:
        await asyncio.sleep(20)
        notify(msg)

await notification(msg)

In [6]:
DATA_AWAIT_TIME = 1 # seconds
SERVER_DELAY = 10 # seconds
INTERVAL_SECONDS = 60 # seconds
w = WssThread(
    url='wss://stream.binance.com:9443/ws/rvnusdt@ticker',
    maxlen=10,
    )
w.start()

STOP_LOSS_ENABLED=True
STOP_LOSS_THRESHOLD=-1.3

DEQUE_MAX_LENGTH = 200
INTERVAL = '1m'


df = OpenBinanceApi.get_df(
    pair = 'RVNUSDT',
    interval = INTERVAL,
    limit = 1000,
    )
# drop last row TODO make assert to not dublicate last row from cycle
df = df[:-1]
stop_loss_trade_flag = False
MA_list = (2, 25, 100, 200)

window = deque(maxlen=200)
for i, row in df.iterrows():
    window.append(dict(row.squeeze()))
#initial currency resources
p_trdr = PaperTrader(
    main_currency_label='RVN',
    secondary_currency_label='USD',
    main_currency_amount=100,
    secondary_currency_amount=0,
    fee=0.1,
)
trade_data = pd.DataFrame(
    columns = p_trdr.get_df(timestamp=df.iloc[-1]['Date']).columns.values
)
stop_loss = StopLoss(
    STOP_LOSS_THRESHOLD=STOP_LOSS_THRESHOLD,
)
# init alg
alg = AlgHandler(
    df=pd.DataFrame([]),
    MA_list=MA_list,
    )
try:
    while 1:
        logging.info('===get new data===')
        new_df = OpenBinanceApi.get_df(
                pair = 'RVNUSDT',
                interval = INTERVAL,
                limit = 1,
            )
        dt = datetime.fromtimestamp(int(new_df.Real_Date[-1:])/1000)
        server_time = datetime.fromtimestamp(OpenBinanceApi.server_time()/1000)
        logging.debug(f'server time: {server_time}   {server_time.minute=}, {dt.minute=}')
        # extract function?

        if server_time.minute == dt.minute:
            logging.debug('+++===success===+++')
            window.append(dict(new_df.squeeze()))
            df_ = pd.DataFrame(window)
            # === process data here ===
            # display(df_)
            for _, row in df.iterrows():
                window.append(dict(row))
                df__ = pd.DataFrame(window)
                alg.update_data(df__)
                alg.calculate(val_col='Open', time_col='Date',)
                do_trade, cross_type = alg.evaluate()
                if STOP_LOSS_ENABLED:
                    stop_loss_trade_flag, trade_data = stop_loss.stop_loss_alg(
                                                            trade_data=trade_data,
                                                            p_trdr=p_trdr,
                                                            row=row,
                                                        )

            if do_trade:
                trade_data, stop_loss_trade_flag = TradeStrategy.trade_alg(stop_loss_trade_flag, trade_data, p_trdr, row, cross_type)
                await notification(f'Trade done: {trade_data}\n {trade_data[-1:]}')
            logging.info(f'do trade: {do_trade}')
            display(trade_data)
            display(alg.crosses)
            # === end of data processing ===
            time_to_sleep = dt - delay + timedelta(seconds=SERVER_DELAY) + timedelta(seconds=INTERVAL_SECONDS)
            server_delay = dt - server_time
            logging.debug(f'server valid time: {server_time}')
            logging.debug(f'server delay: {server_delay.total_seconds()}')
            logging.debug(f'sleep till: {time_to_sleep}')
            await sleep_until(time_to_sleep)
        else:
            logging.debug('---not valid---')
            logging.debug('sleep 1 sec')
            await asyncio.sleep(DATA_AWAIT_TIME)
        
finally:
    # close thread
    w.close()
    # trade.close()
    # notify that we done
    await notification('App terminated')

2022-02-26 12:10:31,919 [INFO]: ===get new data===
2022-02-26 12:10:32,097 [INFO]: ### Opening wss stream ###
2022-02-26 12:10:36,450 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:10:52,763 [INFO]: ===get new data===
2022-02-26 12:10:56,960 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:11:52,760 [INFO]: ===get new data===
2022-02-26 12:11:56,995 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:12:52,764 [INFO]: ===get new data===
2022-02-26 12:12:57,095 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:13:52,768 [INFO]: ===get new data===
2022-02-26 12:13:57,253 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:14:52,769 [INFO]: ===get new data===
2022-02-26 12:14:56,855 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:15:52,767 [INFO]: ===get new data===
2022-02-26 12:15:56,630 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:16:52,764 [INFO]: ===get new data===
2022-02-26 12:16:56,567 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:17:52,758 [INFO]: ===get new data===
2022-02-26 12:17:56,647 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:18:52,769 [INFO]: ===get new data===
2022-02-26 12:18:56,640 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:19:52,762 [INFO]: ===get new data===
2022-02-26 12:19:56,687 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:20:52,760 [INFO]: ===get new data===
2022-02-26 12:20:56,618 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:21:52,760 [INFO]: ===get new data===
2022-02-26 12:21:56,586 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:22:52,768 [INFO]: ===get new data===
2022-02-26 12:22:56,653 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:23:52,759 [INFO]: ===get new data===
2022-02-26 12:23:56,630 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:24:52,765 [INFO]: ===get new data===
2022-02-26 12:24:56,610 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:25:52,769 [INFO]: ===get new data===
2022-02-26 12:25:56,635 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:26:52,760 [INFO]: ===get new data===
2022-02-26 12:26:56,699 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:27:52,759 [INFO]: ===get new data===
2022-02-26 12:27:57,146 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:28:52,757 [INFO]: ===get new data===
2022-02-26 12:28:56,570 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:29:52,757 [INFO]: ===get new data===
2022-02-26 12:29:57,146 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:30:52,767 [INFO]: ===get new data===
2022-02-26 12:30:56,568 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:31:52,758 [INFO]: ===get new data===
2022-02-26 12:31:57,135 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:32:52,760 [INFO]: ===get new data===
2022-02-26 12:32:56,613 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:33:52,764 [INFO]: ===get new data===
2022-02-26 12:33:56,606 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:34:52,767 [INFO]: ===get new data===
2022-02-26 12:34:57,075 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:35:52,767 [INFO]: ===get new data===
2022-02-26 12:35:56,651 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:36:52,760 [INFO]: ===get new data===
2022-02-26 12:36:57,476 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:37:52,765 [INFO]: ===get new data===
2022-02-26 12:37:57,522 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:38:52,767 [INFO]: ===get new data===
2022-02-26 12:38:57,684 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:39:52,759 [INFO]: ===get new data===
2022-02-26 12:39:57,263 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:40:52,768 [INFO]: ===get new data===
2022-02-26 12:40:57,226 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:41:52,760 [INFO]: ===get new data===
2022-02-26 12:41:58,118 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:42:52,755 [INFO]: ===get new data===
2022-02-26 12:42:57,129 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:43:52,762 [INFO]: ===get new data===
2022-02-26 12:43:57,585 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:44:52,759 [INFO]: ===get new data===
2022-02-26 12:44:56,887 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:45:52,765 [INFO]: ===get new data===
2022-02-26 12:45:57,620 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:46:52,767 [INFO]: ===get new data===
2022-02-26 12:46:57,591 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:47:52,761 [INFO]: ===get new data===
2022-02-26 12:47:57,858 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:48:52,768 [INFO]: ===get new data===
2022-02-26 12:48:57,188 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:49:52,763 [INFO]: ===get new data===
2022-02-26 12:49:57,010 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:50:52,762 [INFO]: ===get new data===
2022-02-26 12:50:57,067 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:51:52,768 [INFO]: ===get new data===
2022-02-26 12:51:56,654 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:52:52,764 [INFO]: ===get new data===
2022-02-26 12:52:57,308 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:53:52,763 [INFO]: ===get new data===
2022-02-26 12:53:57,137 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:54:52,765 [INFO]: ===get new data===
2022-02-26 12:54:57,374 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:55:52,755 [INFO]: ===get new data===
2022-02-26 12:55:57,321 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:56:52,761 [INFO]: ===get new data===
2022-02-26 12:56:57,141 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:57:52,764 [INFO]: ===get new data===
2022-02-26 12:57:57,179 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:58:52,759 [INFO]: ===get new data===
2022-02-26 12:58:56,915 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 12:59:52,763 [INFO]: ===get new data===
2022-02-26 12:59:56,963 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:00:52,768 [INFO]: ===get new data===
2022-02-26 13:00:57,221 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:01:52,755 [INFO]: ===get new data===
2022-02-26 13:01:57,073 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:02:52,769 [INFO]: ===get new data===
2022-02-26 13:02:57,251 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:03:52,769 [INFO]: ===get new data===
2022-02-26 13:03:57,520 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:04:52,765 [INFO]: ===get new data===
2022-02-26 13:04:57,112 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:05:52,768 [INFO]: ===get new data===
2022-02-26 13:05:57,282 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:06:52,763 [INFO]: ===get new data===
2022-02-26 13:06:57,309 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:07:52,757 [INFO]: ===get new data===
2022-02-26 13:07:56,976 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:08:52,756 [INFO]: ===get new data===
2022-02-26 13:08:56,858 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:09:52,756 [INFO]: ===get new data===
2022-02-26 13:09:57,454 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:10:52,759 [INFO]: ===get new data===
2022-02-26 13:10:57,110 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:11:52,764 [INFO]: ===get new data===
2022-02-26 13:11:56,889 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:12:52,764 [INFO]: ===get new data===
2022-02-26 13:12:57,029 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:13:52,765 [INFO]: ===get new data===
2022-02-26 13:13:56,879 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:14:52,763 [INFO]: ===get new data===
2022-02-26 13:14:57,336 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:15:52,767 [INFO]: ===get new data===
2022-02-26 13:15:57,215 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:16:52,761 [INFO]: ===get new data===
2022-02-26 13:16:57,092 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:17:52,768 [INFO]: ===get new data===
2022-02-26 13:17:57,300 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:18:52,761 [INFO]: ===get new data===
2022-02-26 13:18:57,726 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:19:52,758 [INFO]: ===get new data===
2022-02-26 13:19:57,035 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:20:52,761 [INFO]: ===get new data===
2022-02-26 13:20:57,646 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:21:52,764 [INFO]: ===get new data===
2022-02-26 13:21:57,318 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:22:52,764 [INFO]: ===get new data===
2022-02-26 13:22:57,096 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:23:52,756 [INFO]: ===get new data===
2022-02-26 13:23:57,426 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:24:52,763 [INFO]: ===get new data===
2022-02-26 13:24:57,200 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:25:52,757 [INFO]: ===get new data===
2022-02-26 13:25:56,870 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:26:52,761 [INFO]: ===get new data===
2022-02-26 13:26:56,978 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:27:52,758 [INFO]: ===get new data===
2022-02-26 13:27:57,129 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:28:52,758 [INFO]: ===get new data===
2022-02-26 13:28:57,506 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:29:52,764 [INFO]: ===get new data===
2022-02-26 13:29:57,166 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:30:52,756 [INFO]: ===get new data===
2022-02-26 13:30:56,956 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:31:52,767 [INFO]: ===get new data===
2022-02-26 13:31:56,903 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:32:52,767 [INFO]: ===get new data===
2022-02-26 13:32:57,304 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:33:52,766 [INFO]: ===get new data===
2022-02-26 13:33:58,433 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:34:52,757 [INFO]: ===get new data===
2022-02-26 13:34:59,031 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:35:52,762 [INFO]: ===get new data===
2022-02-26 13:35:59,049 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:36:52,755 [INFO]: ===get new data===
2022-02-26 13:36:59,183 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:37:52,765 [INFO]: ===get new data===
2022-02-26 13:37:59,089 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:38:52,770 [INFO]: ===get new data===
2022-02-26 13:38:59,137 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:39:52,769 [INFO]: ===get new data===
2022-02-26 13:39:58,358 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:40:52,761 [INFO]: ===get new data===
2022-02-26 13:40:58,401 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:41:52,769 [INFO]: ===get new data===
2022-02-26 13:42:01,740 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:42:52,756 [INFO]: ===get new data===
2022-02-26 13:43:01,972 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:43:52,771 [INFO]: ===get new data===
2022-02-26 13:44:02,725 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:44:52,762 [INFO]: ===get new data===
2022-02-26 13:45:02,121 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:45:52,758 [INFO]: ===get new data===
2022-02-26 13:46:03,130 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:46:52,763 [INFO]: ===get new data===
2022-02-26 13:47:03,037 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:47:52,764 [INFO]: ===get new data===
2022-02-26 13:48:03,397 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:48:52,765 [INFO]: ===get new data===
2022-02-26 13:49:01,901 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:49:52,755 [INFO]: ===get new data===
2022-02-26 13:50:01,522 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:50:52,762 [INFO]: ===get new data===
2022-02-26 13:51:02,552 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:51:42,842 [ERROR]: Connection to remote host was lost.
2022-02-26 13:51:42,843 [INFO]: ### wss stream closed ###
2022-02-26 13:51:52,762 [INFO]: ===get new data===
2022-02-26 13:52:01,562 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:52:52,764 [INFO]: ===get new data===
2022-02-26 13:53:02,427 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:53:52,767 [INFO]: ===get new data===
2022-02-26 13:54:01,293 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:54:52,766 [INFO]: ===get new data===
2022-02-26 13:55:02,801 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:55:52,759 [INFO]: ===get new data===
2022-02-26 13:56:01,393 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:56:52,758 [INFO]: ===get new data===
2022-02-26 13:57:03,072 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:57:52,757 [INFO]: ===get new data===
2022-02-26 13:58:00,621 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:58:52,762 [INFO]: ===get new data===
2022-02-26 13:59:03,187 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 13:59:52,764 [INFO]: ===get new data===
2022-02-26 14:00:02,849 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:00:52,761 [INFO]: ===get new data===
2022-02-26 14:01:03,336 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:01:52,761 [INFO]: ===get new data===
2022-02-26 14:02:00,200 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:02:52,767 [INFO]: ===get new data===
2022-02-26 14:03:03,850 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:03:52,766 [INFO]: ===get new data===
2022-02-26 14:04:02,574 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:04:52,759 [INFO]: ===get new data===
2022-02-26 14:05:03,782 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:05:52,759 [INFO]: ===get new data===
2022-02-26 14:06:00,010 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:06:52,758 [INFO]: ===get new data===
2022-02-26 14:07:02,287 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:07:52,756 [INFO]: ===get new data===
2022-02-26 14:08:03,262 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:08:52,756 [INFO]: ===get new data===
2022-02-26 14:09:03,031 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:09:52,764 [INFO]: ===get new data===
2022-02-26 14:10:01,745 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:10:52,764 [INFO]: ===get new data===
2022-02-26 14:11:01,716 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:11:52,765 [INFO]: ===get new data===
2022-02-26 14:12:03,309 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:12:52,766 [INFO]: ===get new data===
2022-02-26 14:13:03,041 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:13:52,765 [INFO]: ===get new data===
2022-02-26 14:14:00,438 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:14:52,762 [INFO]: ===get new data===
2022-02-26 14:15:02,976 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:15:52,758 [INFO]: ===get new data===
2022-02-26 14:16:02,885 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:16:52,760 [INFO]: ===get new data===
2022-02-26 14:17:03,271 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:17:52,766 [INFO]: ===get new data===
2022-02-26 14:18:02,693 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:18:52,770 [INFO]: ===get new data===
2022-02-26 14:19:02,601 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:19:52,761 [INFO]: ===get new data===
2022-02-26 14:20:00,463 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:20:52,763 [INFO]: ===get new data===
2022-02-26 14:21:02,611 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:21:52,755 [INFO]: ===get new data===
2022-02-26 14:22:02,499 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:22:52,764 [INFO]: ===get new data===
2022-02-26 14:23:03,161 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:23:52,762 [INFO]: ===get new data===
2022-02-26 14:24:05,049 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:24:52,769 [INFO]: ===get new data===
2022-02-26 14:25:03,285 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:25:52,758 [INFO]: ===get new data===
2022-02-26 14:26:02,818 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:26:52,762 [INFO]: ===get new data===
2022-02-26 14:27:03,683 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:27:52,761 [INFO]: ===get new data===
2022-02-26 14:28:02,781 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:28:52,760 [INFO]: ===get new data===
2022-02-26 14:29:04,107 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:29:52,761 [INFO]: ===get new data===
2022-02-26 14:30:00,109 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:30:52,762 [INFO]: ===get new data===
2022-02-26 14:31:02,338 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:31:52,770 [INFO]: ===get new data===
2022-02-26 14:32:00,826 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:32:52,762 [INFO]: ===get new data===
2022-02-26 14:33:02,621 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:33:52,764 [INFO]: ===get new data===
2022-02-26 14:34:02,714 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:34:52,761 [INFO]: ===get new data===
2022-02-26 14:35:03,219 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:35:52,759 [INFO]: ===get new data===
2022-02-26 14:36:03,219 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:36:52,761 [INFO]: ===get new data===
2022-02-26 14:37:01,396 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:37:52,760 [INFO]: ===get new data===
2022-02-26 14:38:03,081 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:38:52,767 [INFO]: ===get new data===
2022-02-26 14:39:02,151 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:39:52,763 [INFO]: ===get new data===
2022-02-26 14:40:03,027 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:40:52,770 [INFO]: ===get new data===
2022-02-26 14:41:03,713 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:41:52,763 [INFO]: ===get new data===
2022-02-26 14:42:00,735 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:42:52,762 [INFO]: ===get new data===
2022-02-26 14:43:03,552 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:43:52,761 [INFO]: ===get new data===
2022-02-26 14:44:03,617 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:44:52,766 [INFO]: ===get new data===
2022-02-26 14:45:03,835 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:45:52,765 [INFO]: ===get new data===
2022-02-26 14:46:03,191 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:46:52,766 [INFO]: ===get new data===
2022-02-26 14:47:00,607 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:47:52,762 [INFO]: ===get new data===
2022-02-26 14:48:02,621 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:48:52,757 [INFO]: ===get new data===
2022-02-26 14:49:03,917 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:49:52,765 [INFO]: ===get new data===
2022-02-26 14:50:03,346 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:50:52,767 [INFO]: ===get new data===
2022-02-26 14:51:02,651 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:51:52,765 [INFO]: ===get new data===
2022-02-26 14:52:02,474 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:52:52,765 [INFO]: ===get new data===
2022-02-26 14:53:02,572 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:53:52,765 [INFO]: ===get new data===
2022-02-26 14:54:03,573 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:54:52,769 [INFO]: ===get new data===
2022-02-26 14:55:02,632 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:55:52,762 [INFO]: ===get new data===
2022-02-26 14:55:59,830 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:56:52,762 [INFO]: ===get new data===
2022-02-26 14:57:02,105 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:57:52,760 [INFO]: ===get new data===
2022-02-26 14:58:03,299 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:58:52,762 [INFO]: ===get new data===
2022-02-26 14:59:03,266 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 14:59:52,767 [INFO]: ===get new data===
2022-02-26 15:00:03,530 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:00:52,767 [INFO]: ===get new data===
2022-02-26 15:01:03,544 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:01:52,770 [INFO]: ===get new data===
2022-02-26 15:02:03,318 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:02:52,765 [INFO]: ===get new data===
2022-02-26 15:03:04,460 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:03:52,760 [INFO]: ===get new data===
2022-02-26 15:04:02,494 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:04:52,764 [INFO]: ===get new data===
2022-02-26 15:05:03,771 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:05:52,761 [INFO]: ===get new data===
2022-02-26 15:06:03,019 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:06:52,759 [INFO]: ===get new data===
2022-02-26 15:07:03,114 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:07:52,765 [INFO]: ===get new data===
2022-02-26 15:08:02,646 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:08:52,761 [INFO]: ===get new data===
2022-02-26 15:09:02,189 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:09:52,769 [INFO]: ===get new data===
2022-02-26 15:10:03,657 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:10:52,759 [INFO]: ===get new data===
2022-02-26 15:11:03,509 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:11:52,756 [INFO]: ===get new data===
2022-02-26 15:12:03,610 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:12:52,764 [INFO]: ===get new data===
2022-02-26 15:13:02,787 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:13:52,762 [INFO]: ===get new data===
2022-02-26 15:14:03,880 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:14:52,768 [INFO]: ===get new data===
2022-02-26 15:14:59,663 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:15:52,764 [INFO]: ===get new data===
2022-02-26 15:15:59,352 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:16:52,758 [INFO]: ===get new data===
2022-02-26 15:17:00,041 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:17:52,763 [INFO]: ===get new data===
2022-02-26 15:17:59,269 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:18:52,767 [INFO]: ===get new data===
2022-02-26 15:19:00,020 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:19:52,758 [INFO]: ===get new data===
2022-02-26 15:19:58,868 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:20:52,764 [INFO]: ===get new data===
2022-02-26 15:20:59,208 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:21:52,766 [INFO]: ===get new data===
2022-02-26 15:22:03,092 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:22:52,763 [INFO]: ===get new data===
2022-02-26 15:23:02,408 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:23:52,763 [INFO]: ===get new data===
2022-02-26 15:24:02,689 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:24:52,763 [INFO]: ===get new data===
2022-02-26 15:25:03,759 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:25:52,756 [INFO]: ===get new data===
2022-02-26 15:26:02,199 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:26:52,757 [INFO]: ===get new data===
2022-02-26 15:27:03,165 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:27:52,761 [INFO]: ===get new data===
2022-02-26 15:28:03,718 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:28:52,765 [INFO]: ===get new data===
2022-02-26 15:29:02,999 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:29:52,762 [INFO]: ===get new data===
2022-02-26 15:30:02,775 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:30:52,766 [INFO]: ===get new data===
2022-02-26 15:31:03,339 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:31:52,766 [INFO]: ===get new data===
2022-02-26 15:32:03,000 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:32:52,767 [INFO]: ===get new data===
2022-02-26 15:33:03,591 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:33:52,770 [INFO]: ===get new data===
2022-02-26 15:34:01,173 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:34:52,760 [INFO]: ===get new data===
2022-02-26 15:35:02,977 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:35:52,761 [INFO]: ===get new data===
2022-02-26 15:36:03,101 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:36:52,764 [INFO]: ===get new data===
2022-02-26 15:37:02,860 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:37:52,767 [INFO]: ===get new data===
2022-02-26 15:38:03,589 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:38:52,758 [INFO]: ===get new data===
2022-02-26 15:39:02,667 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:39:52,759 [INFO]: ===get new data===
2022-02-26 15:40:02,255 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:40:52,760 [INFO]: ===get new data===
2022-02-26 15:41:02,098 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:41:52,762 [INFO]: ===get new data===
2022-02-26 15:42:03,307 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:42:52,763 [INFO]: ===get new data===
2022-02-26 15:43:01,526 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:43:52,765 [INFO]: ===get new data===
2022-02-26 15:44:02,046 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:44:52,757 [INFO]: ===get new data===
2022-02-26 15:45:03,239 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:45:52,765 [INFO]: ===get new data===
2022-02-26 15:46:01,832 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:46:52,765 [INFO]: ===get new data===
2022-02-26 15:47:03,383 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:47:52,769 [INFO]: ===get new data===
2022-02-26 15:48:03,077 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:48:52,757 [INFO]: ===get new data===
2022-02-26 15:49:03,118 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:49:52,763 [INFO]: ===get new data===
2022-02-26 15:50:03,798 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:50:52,769 [INFO]: ===get new data===
2022-02-26 15:51:03,147 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:51:52,766 [INFO]: ===get new data===
2022-02-26 15:52:02,044 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:52:52,765 [INFO]: ===get new data===
2022-02-26 15:53:02,605 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:53:52,761 [INFO]: ===get new data===
2022-02-26 15:54:02,896 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:54:52,766 [INFO]: ===get new data===
2022-02-26 15:55:04,006 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:55:52,759 [INFO]: ===get new data===
2022-02-26 15:56:03,084 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:56:52,763 [INFO]: ===get new data===
2022-02-26 15:57:02,073 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:57:52,767 [INFO]: ===get new data===
2022-02-26 15:58:02,456 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:58:52,771 [INFO]: ===get new data===
2022-02-26 15:59:03,093 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 15:59:52,768 [INFO]: ===get new data===
2022-02-26 16:00:04,412 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:00:52,759 [INFO]: ===get new data===
2022-02-26 16:01:02,437 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:01:52,757 [INFO]: ===get new data===
2022-02-26 16:02:03,055 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:02:52,767 [INFO]: ===get new data===
2022-02-26 16:03:01,845 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:03:52,756 [INFO]: ===get new data===
2022-02-26 16:04:02,722 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:04:52,769 [INFO]: ===get new data===
2022-02-26 16:05:04,071 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:05:52,764 [INFO]: ===get new data===
2022-02-26 16:06:03,318 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:06:52,767 [INFO]: ===get new data===
2022-02-26 16:07:01,944 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:07:52,763 [INFO]: ===get new data===
2022-02-26 16:08:04,081 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:08:52,761 [INFO]: ===get new data===
2022-02-26 16:09:02,816 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:09:52,763 [INFO]: ===get new data===
2022-02-26 16:10:02,540 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:10:52,764 [INFO]: ===get new data===
2022-02-26 16:11:02,951 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:11:52,770 [INFO]: ===get new data===
2022-02-26 16:12:03,050 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:12:52,757 [INFO]: ===get new data===
2022-02-26 16:13:03,348 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:13:52,762 [INFO]: ===get new data===
2022-02-26 16:14:03,303 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:14:52,765 [INFO]: ===get new data===
2022-02-26 16:15:04,081 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:15:52,762 [INFO]: ===get new data===
2022-02-26 16:16:03,834 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:16:52,762 [INFO]: ===get new data===
2022-02-26 16:17:03,936 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:17:52,758 [INFO]: ===get new data===
2022-02-26 16:18:03,130 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:18:52,769 [INFO]: ===get new data===
2022-02-26 16:18:57,986 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

2022-02-26 16:19:52,762 [INFO]: ===get new data===
2022-02-26 16:19:57,072 [INFO]: do trade: False

Empty DataFrame
Columns: [type, sell_price, buy_price, fee, RVN, USD, _amount, timestamp]
Index: []

[MA_point(timestamp=Timestamp('2022-02-26 10:59:00'), val=0.059254799999999996, type='raise'),
 MA_point(timestamp=Timestamp('2022-02-26 11:50:00'), val=0.0592772, type='fall')]

In [ ]:
assert 0

In [ ]:
trade_data

NameError: name 'trade_data' is not defined

In [ ]:
for i, row in df.iterrows():
    window.append(dict(row.squeeze()))

In [ ]:
pd.DataFrame(window)

,Date,Open,High,Low,Close,Real_Date
0,2022-02-23 16:43:00,0.05698000,0.05704000,0.05698000,0.05704000,1645623780000
1,2022-02-23 16:44:00,0.05703000,0.05704000,0.05696000,0.05696000,1645623840000
2,2022-02-23 16:45:00,0.05697000,0.05702000,0.05697000,0.05698000,1645623900000
3,2022-02-23 16:46:00,0.05697000,0.05699000,0.05693000,0.05693000,1645623960000
4,2022-02-23 16:47:00,0.05694000,0.05700000,0.05694000,0.05694000,1645624020000
...,...,...,...,...,...,...
195,2022-02-23 19:58:00,0.05692000,0.05694000,0.05690000,0.05690000,1645635480000
196,2022-02-23 19:59:00,0.05686000,0.05691000,0.05686000,0.05691000,1645635540000
197,2022-02-23 20:00:00,0.05694000,0.05695000,0.05686000,0.05686000,1645635600000
198,2022-02-23 20:01:00,0.05689000,0.05695000,0.05679000,0.05679000,1645635660000
199,2022-02-23 20:02:00,0.05674000,0.05678000,0.05674000,0.05677000,1645635720000

In [ ]:
df = df[:-1]
df

,Date,Open,High,Low,Close,Real_Date
0,2022-02-23 03:31:00,0.05501000,0.05505000,0.05501000,0.05502000,1645576260000
1,2022-02-23 03:32:00,0.05498000,0.05498000,0.05475000,0.05476000,1645576320000
2,2022-02-23 03:33:00,0.05480000,0.05480000,0.05463000,0.05472000,1645576380000
3,2022-02-23 03:34:00,0.05469000,0.05473000,0.05463000,0.05473000,1645576440000
4,2022-02-23 03:35:00,0.05475000,0.05477000,0.05466000,0.05466000,1645576500000
...,...,...,...,...,...,...
994,2022-02-23 20:05:00,0.05668000,0.05668000,0.05650000,0.05659000,1645635900000
995,2022-02-23 20:06:00,0.05658000,0.05658000,0.05651000,0.05655000,1645635960000
996,2022-02-23 20:07:00,0.05655000,0.05659000,0.05655000,0.05659000,1645636020000
997,2022-02-23 20:08:00,0.05659000,0.05664000,0.05659000,0.05662000,1645636080000
998,2022-02-23 20:09:00,0.05664000,0.05670000,0.05664000,0.05670000,1645636140000

In [ ]:
def process_data(new_df: pd.DataFrame, window: deque,) -> pd.DataFrame:
    window.append(new_df)
    df_ = pd.DataFrame(window)
    return df_

In [ ]:
dict(new_df.squeeze())

NameError: name 'new_df' is not defined

In [ ]:
window[0]

In [ ]:
trade_data