In [24]:
import requests
import pandas as pd
import pickle
import json
endpoint = 'http://192.168.1.125:8000'

In [43]:
# %timeit 
r = requests.get(f'{endpoint}/server_time')
r.status_code, r.json()

(200, {'message': '2022-03-05 15:33:34.036207'})

In [105]:
r = requests.get(f'{endpoint}/ma_lines')
re = r.json()
r.status_code, re

(200, {'ma_lines': []})

In [70]:
r = requests.post(f'{endpoint}/ma_lines', json=[7, 25, 99])
re = r.json()
r.status_code, re

(200, {'ma_lines': [7, 25, 99]})

In [106]:
# get df from api
r = requests.get(f'{endpoint}/df')

display(pd.read_json(r.json()['df']))
r.status_code,

                   Date     Open     High      Low    Close      Real_Date
0   2022-03-05 02:16:00  0.05217  0.05222  0.05214  0.05222  1646435760000
1   2022-03-05 02:17:00  0.05224  0.05228  0.05221  0.05221  1646435820000
2   2022-03-05 02:18:00  0.05218  0.05218  0.05212  0.05212  1646435880000
3   2022-03-05 02:19:00  0.05210  0.05212  0.05195  0.05195  1646435940000
4   2022-03-05 02:20:00  0.05195  0.05200  0.05195  0.05200  1646436000000
..                  ...      ...      ...      ...      ...            ...
995 2022-03-05 18:51:00  0.05399  0.05399  0.05393  0.05393  1646495460000
996 2022-03-05 18:52:00  0.05396  0.05396  0.05394  0.05394  1646495520000
997 2022-03-05 18:53:00  0.05394  0.05397  0.05394  0.05394  1646495580000
998 2022-03-05 18:54:00  0.05390  0.05393  0.05390  0.05393  1646495640000
999 2022-03-05 18:55:00  0.05394  0.05396  0.05394  0.05396  1646495700000

[1000 rows x 6 columns]

(200,)

In [135]:
# %%timeit
r = requests.get(f'{endpoint}/trade_data')
if r.status_code > 399: raise Exception
display(pd.read_json(r.json()['trade_data']))
r.status_code,

                 Date     Open     High      Low    Close      Real_Date
0 2022-03-05 18:36:00  0.05359  0.05365  0.05359  0.05365  1646494560000
1 2022-03-05 18:37:00  0.05371  0.05372  0.05369  0.05370  1646494620000
2 2022-03-05 18:38:00  0.05369  0.05371  0.05369  0.05371  1646494680000
3 2022-03-05 18:39:00  0.05372  0.05373  0.05372  0.05373  1646494740000
4 2022-03-05 18:40:00  0.05371  0.05376  0.05371  0.05374  1646494800000
5 2022-03-05 18:41:00  0.05374  0.05377  0.05372  0.05377  1646494860000
6 2022-03-05 18:42:00  0.05377  0.05383  0.05377  0.05382  1646494920000
7 2022-03-05 18:43:00  0.05380  0.05380  0.05378  0.05380  1646494980000
8 2022-03-05 18:44:00  0.05381  0.05381  0.05371  0.05371  1646495040000
9 2022-03-05 18:45:00  0.05373  0.05374  0.05373  0.05374  1646495100000

(200,)

In [134]:
r = requests.post(f'{endpoint}/trade_data', json.dumps({'new_item': df.to_json()}))
# display(pd.read_json(r.json()['df']))
display(pd.read_json(r.json()['trade_data']))
r.status_code,

                 Date     Open     High      Low    Close      Real_Date
0 2022-03-05 18:36:00  0.05359  0.05365  0.05359  0.05365  1646494560000
1 2022-03-05 18:37:00  0.05371  0.05372  0.05369  0.05370  1646494620000
2 2022-03-05 18:38:00  0.05369  0.05371  0.05369  0.05371  1646494680000
3 2022-03-05 18:39:00  0.05372  0.05373  0.05372  0.05373  1646494740000
4 2022-03-05 18:40:00  0.05371  0.05376  0.05371  0.05374  1646494800000
5 2022-03-05 18:41:00  0.05374  0.05377  0.05372  0.05377  1646494860000
6 2022-03-05 18:42:00  0.05377  0.05383  0.05377  0.05382  1646494920000
7 2022-03-05 18:43:00  0.05380  0.05380  0.05378  0.05380  1646494980000
8 2022-03-05 18:44:00  0.05381  0.05381  0.05371  0.05371  1646495040000
9 2022-03-05 18:45:00  0.05373  0.05374  0.05373  0.05374  1646495100000

(200,)

In [86]:
#update df on server
r = requests.post(f'{endpoint}/df', json.dumps({'new_item': df.to_json()}))
# display(pd.read_json(r.json()['df']))
display(pd.read_json(r.json()['df']))
r.status_code,

                 Date     Open     High      Low    Close      Real_Date
0 2022-03-05 18:36:00  0.05359  0.05365  0.05359  0.05365  1646494560000
1 2022-03-05 18:37:00  0.05371  0.05372  0.05369  0.05370  1646494620000
2 2022-03-05 18:38:00  0.05369  0.05371  0.05369  0.05371  1646494680000
3 2022-03-05 18:39:00  0.05372  0.05373  0.05372  0.05373  1646494740000
4 2022-03-05 18:40:00  0.05371  0.05376  0.05371  0.05374  1646494800000
5 2022-03-05 18:41:00  0.05374  0.05377  0.05372  0.05377  1646494860000
6 2022-03-05 18:42:00  0.05377  0.05383  0.05377  0.05382  1646494920000
7 2022-03-05 18:43:00  0.05380  0.05380  0.05378  0.05380  1646494980000
8 2022-03-05 18:44:00  0.05381  0.05381  0.05371  0.05371  1646495040000
9 2022-03-05 18:45:00  0.05373  0.05374  0.05373  0.05374  1646495100000

(200,)

In [87]:
r = requests.post(f'{endpoint}/p_trdr', json.dumps({'new_item': df.to_json()}))
# display(pd.read_json(r.json()['df']))
display(pd.read_json(r.json()['p_trdr']))
r.status_code,

                 Date     Open     High      Low    Close      Real_Date
0 2022-03-05 18:36:00  0.05359  0.05365  0.05359  0.05365  1646494560000
1 2022-03-05 18:37:00  0.05371  0.05372  0.05369  0.05370  1646494620000
2 2022-03-05 18:38:00  0.05369  0.05371  0.05369  0.05371  1646494680000
3 2022-03-05 18:39:00  0.05372  0.05373  0.05372  0.05373  1646494740000
4 2022-03-05 18:40:00  0.05371  0.05376  0.05371  0.05374  1646494800000
5 2022-03-05 18:41:00  0.05374  0.05377  0.05372  0.05377  1646494860000
6 2022-03-05 18:42:00  0.05377  0.05383  0.05377  0.05382  1646494920000
7 2022-03-05 18:43:00  0.05380  0.05380  0.05378  0.05380  1646494980000
8 2022-03-05 18:44:00  0.05381  0.05381  0.05371  0.05371  1646495040000
9 2022-03-05 18:45:00  0.05373  0.05374  0.05373  0.05374  1646495100000

(200,)

In [85]:
#get df from BNC API
import os
from dotenv import load_dotenv

load_dotenv()
PWD = os.getenv("PWD")
import sys
sys.path.insert(1, f'{PWD}\\modules')

from api_modules.open_binance_api import OpenBinanceApi

df = OpenBinanceApi.get_df(
            pair = 'RVNUSDT', # pair
            interval = '1m', # Interval
            limit = 10,   # limit
    )
df

,Date,Open,High,Low,Close,Real_Date
0,2022-03-05 18:36:00,0.05359000,0.05365000,0.05359000,0.05365000,1646494560000
1,2022-03-05 18:37:00,0.05371000,0.05372000,0.05369000,0.05370000,1646494620000
2,2022-03-05 18:38:00,0.05369000,0.05371000,0.05369000,0.05371000,1646494680000
3,2022-03-05 18:39:00,0.05372000,0.05373000,0.05372000,0.05373000,1646494740000
4,2022-03-05 18:40:00,0.05371000,0.05376000,0.05371000,0.05374000,1646494800000
5,2022-03-05 18:41:00,0.05374000,0.05377000,0.05372000,0.05377000,1646494860000
6,2022-03-05 18:42:00,0.05377000,0.05383000,0.05377000,0.05382000,1646494920000
7,2022-03-05 18:43:00,0.05380000,0.05380000,0.05378000,0.05380000,1646494980000
8,2022-03-05 18:44:00,0.05381000,0.05381000,0.05371000,0.05371000,1646495040000
9,2022-03-05 18:45:00,0.05373000,0.05374000,0.05373000,0.05374000,1646495100000