In [16]:
import requests
import pandas as pd
import pickle
endpoint = 'http://192.168.1.125:8000'

In [17]:
# %timeit 
r = requests.get(f'{endpoint}/server_time')
r.status_code, r.json()

(200, {'message': '2022-03-03 18:50:17.469506'})

In [18]:
r = requests.post(f'{endpoint}/server_time')
r.status_code, r.json()

(200, {'message': '2022-03-03 18:50:27.484454'})

In [27]:
# get df from api
r = requests.get(f'{endpoint}/df')
display(pd.read_json(r.json()['df']))
r.status_code,

                 Date     Open     High      Low    Close      Real_Date
0 2022-03-03 18:42:00  0.05716  0.05718  0.05708  0.05709  1646322120000
1 2022-03-03 18:43:00  0.05711  0.05712  0.05697  0.05701  1646322180000
2 2022-03-03 18:44:00  0.05696  0.05697  0.05683  0.05696  1646322240000
3 2022-03-03 18:45:00  0.05695  0.05708  0.05689  0.05689  1646322300000
4 2022-03-03 18:46:00  0.05687  0.05699  0.05676  0.05699  1646322360000
5 2022-03-03 18:47:00  0.05699  0.05724  0.05699  0.05715  1646322420000
6 2022-03-03 18:48:00  0.05717  0.05728  0.05717  0.05728  1646322480000
7 2022-03-03 18:49:00  0.05728  0.05738  0.05728  0.05736  1646322540000
8 2022-03-03 18:50:00  0.05734  0.05745  0.05727  0.05738  1646322600000
9 2022-03-03 18:51:00  0.05739  0.05739  0.05731  0.05731  1646322660000

(200,)

In [25]:
jdf = df.to_json()
import json

In [26]:
#update df on server
r = requests.post(f'{endpoint}/df', json.dumps({'df': df.to_json()}))
# display(pd.read_json(r.json()['df']))
display(pd.read_json(r.json()['df']))
r.status_code,

                 Date     Open     High      Low    Close      Real_Date
0 2022-03-03 18:42:00  0.05716  0.05718  0.05708  0.05709  1646322120000
1 2022-03-03 18:43:00  0.05711  0.05712  0.05697  0.05701  1646322180000
2 2022-03-03 18:44:00  0.05696  0.05697  0.05683  0.05696  1646322240000
3 2022-03-03 18:45:00  0.05695  0.05708  0.05689  0.05689  1646322300000
4 2022-03-03 18:46:00  0.05687  0.05699  0.05676  0.05699  1646322360000
5 2022-03-03 18:47:00  0.05699  0.05724  0.05699  0.05715  1646322420000
6 2022-03-03 18:48:00  0.05717  0.05728  0.05717  0.05728  1646322480000
7 2022-03-03 18:49:00  0.05728  0.05738  0.05728  0.05736  1646322540000
8 2022-03-03 18:50:00  0.05734  0.05745  0.05727  0.05738  1646322600000
9 2022-03-03 18:51:00  0.05739  0.05739  0.05731  0.05731  1646322660000

(200,)

In [ ]:
class DataFrameModel_:
    df: pd.DataFrame

In [ ]:
DataFrameModel_.df = 1

In [ ]:
DataFrameModel_.df

1

In [ ]:
from pydantic import BaseModel
import pandas as pd
class DataFrameModel(BaseModel):
    df: pd.DataFrame
    class Config:
        arbitrary_types_allowed = True

In [ ]:
DataFrameModel.df = '2'

In [ ]:
DataFrameModel.df

'2'

In [ ]:
type(json.dumps({'df': jdf}))

str

In [ ]:
isinstance(df, pd.DataFrame)

True

In [23]:
import os
from dotenv import load_dotenv

load_dotenv()
PWD = os.getenv("PWD")
import sys
sys.path.insert(1, f'{PWD}\\modules')

from api_modules.open_binance_api import OpenBinanceApi

df = OpenBinanceApi.get_df(
            pair = 'RVNUSDT', # pair
            interval = '1m', # Interval
            limit = 10,   # limit
    )
df

,Date,Open,High,Low,Close,Real_Date
0,2022-03-03 18:42:00,0.05716000,0.05718000,0.05708000,0.05709000,1646322120000
1,2022-03-03 18:43:00,0.05711000,0.05712000,0.05697000,0.05701000,1646322180000
2,2022-03-03 18:44:00,0.05696000,0.05697000,0.05683000,0.05696000,1646322240000
3,2022-03-03 18:45:00,0.05695000,0.05708000,0.05689000,0.05689000,1646322300000
4,2022-03-03 18:46:00,0.05687000,0.05699000,0.05676000,0.05699000,1646322360000
5,2022-03-03 18:47:00,0.05699000,0.05724000,0.05699000,0.05715000,1646322420000
6,2022-03-03 18:48:00,0.05717000,0.05728000,0.05717000,0.05728000,1646322480000
7,2022-03-03 18:49:00,0.05728000,0.05738000,0.05728000,0.05736000,1646322540000
8,2022-03-03 18:50:00,0.05734000,0.05745000,0.05727000,0.05738000,1646322600000
9,2022-03-03 18:51:00,0.05739000,0.05739000,0.05731000,0.05731000,1646322660000

In [ ]:
pog = df.to_json()

In [ ]:
df = pd.read_json(pog)
df

                   Date     Open     High      Low    Close      Real_Date
0   2022-03-02 23:41:00  0.05959  0.05961  0.05959  0.05961  1646253660000
1   2022-03-02 23:42:00  0.05963  0.05963  0.05958  0.05960  1646253720000
2   2022-03-02 23:43:00  0.05961  0.05962  0.05961  0.05962  1646253780000
3   2022-03-02 23:44:00  0.05962  0.05962  0.05959  0.05959  1646253840000
4   2022-03-02 23:45:00  0.05966  0.05966  0.05960  0.05963  1646253900000
..                  ...      ...      ...      ...      ...            ...
995 2022-03-03 16:16:00  0.05916  0.05918  0.05916  0.05918  1646313360000
996 2022-03-03 16:17:00  0.05916  0.05916  0.05916  0.05916  1646313420000
997 2022-03-03 16:18:00  0.05916  0.05917  0.05915  0.05915  1646313480000
998 2022-03-03 16:19:00  0.05915  0.05918  0.05915  0.05918  1646313540000
999 2022-03-03 16:20:00  0.05918  0.05918  0.05918  0.05918  1646313600000

[1000 rows x 6 columns]