In [1]:
import pandas as pd
#load .env variables
import os
from dotenv import load_dotenv
load_dotenv()
import sys
PWD = os.getenv('PWD')
sys.path.insert(1, PWD)
from modules.api_modules.open_binance_api import OpenBinanceApi

In [35]:
df = OpenBinanceApi.get_df(
    pair = 'RVNUSDT',
    interval = '1m',
    limit = 1000,
    )
df

,Date,Open,High,Low,Close,Real_Date
0,2022-03-15 17:02:00,0.04859000,0.04859000,0.04856000,0.04859000,1647352920000
1,2022-03-15 17:03:00,0.04862000,0.04862000,0.04856000,0.04858000,1647352980000
2,2022-03-15 17:04:00,0.04864000,0.04872000,0.04864000,0.04872000,1647353040000
3,2022-03-15 17:05:00,0.04869000,0.04875000,0.04867000,0.04871000,1647353100000
4,2022-03-15 17:06:00,0.04877000,0.04881000,0.04873000,0.04874000,1647353160000
...,...,...,...,...,...,...
995,2022-03-16 09:37:00,0.04978000,0.04978000,0.04976000,0.04977000,1647412620000
996,2022-03-16 09:38:00,0.04978000,0.04981000,0.04978000,0.04981000,1647412680000
997,2022-03-16 09:39:00,0.04982000,0.04983000,0.04978000,0.04983000,1647412740000
998,2022-03-16 09:40:00,0.04981000,0.04983000,0.04981000,0.04983000,1647412800000
999,2022-03-16 09:41:00,0.04981000,0.04981000,0.04981000,0.04981000,1647412860000

In [50]:
d = df[-1:]['Date'].item().to_pydatetime()
d, type(d)

(datetime.datetime(2022, 3, 16, 9, 41), datetime.datetime)